 *{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* Navbar and Banner starts here */
.whole-banner{
    background-image: url("../Assets/Hero-bg.png");
    max-width: 1440px;
    min-height: 698px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
}

nav h1{
    color: #4E47FF;
    font-weight: 34px;
}

nav button{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px ;
    height: 48px;
    width: 132px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    background-color: mediumpurple;
    cursor: pointer;
}

div h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: 158px;
}

div button{
     border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px ;
    height: 48px;
    width: 174px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: auto;
}

/* Action section starts here */
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 328px;
    margin: auto;
    margin-top: 37px;
}

div h3{
    font-size: 42px;
    font-weight: bold;
}

div p{
    font-size: 24px;
    font-weight: regular;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
}

.sec2-btn{
     border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px ;
    height: 48px;
    width: 229px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0;
}

section img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}