/* Navbar and Banner starts here */
.whole-banner{
    background-image: url("../Assets/Hero-bg.png");
    max-width: 1440px;
    min-height: 698px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
}

nav h1{
    color: #4E47FF;
    font-weight: 34px;
}

nav button{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px ;
    height: 48px;
    width: 132px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    background-color: mediumpurple;
    cursor: pointer;
}

div h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: 158px;
}

div button{
     border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px ;
    height: 48px;
    width: 174px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: auto;
}